/* Nav related Style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
    
}
nav > h3{
    font-family: 'Belanosima', sans-serif;
    font-size: 45px;
    font-weight: bold;
}
.text-primary{
    color: blue;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li {
    list-style-type: none;
    margin-right: 50px;
}
nav a {
    text-decoration: none;
    color: rgb(34, 28, 28);
}
.btn-primary{
    border-radius: 5px;
    background: blue;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding: 15px 35px;
    
}
.bgcls{
    background-color: rgb(229, 229, 249);
}
.banner{
    padding: 30px 30px 30px 200px;
    display: flex;
    align-items: center;
}
#profile{
    width: 600px;
}